* {
  margin: 0px;
  padding: 0px;
  // width: 100%;
  font-family: sans-serif;
}

.sidebar {
  width: 15%;
  background-color: #03295d;
  height: 100%;
  position: fixed;
}

.content {
  position: fixed;
  margin-left: 15%;
  width: 85%;
  height: 100%;
  overflow-y: scroll;
}

.header {
  width: 100%;
  height: 90px;
  background: #f1f1ff;
}

.balance {
  width: 100%;
  height: 130px;
  background: #0247cb;
  color: #fff;
}

.transactions {
  width: 100%;
  height: 100%;
  padding-top: 2%;
}

// HEADER

.icon {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 15px;
}

.center-vertical {
  width: 400px;
  position: absolute;
  right: 0;
  padding-top: 20px;
}

.vas {
  vertical-align: super;
  position: relative;
  bottom: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.opt {
  border: 4px solid yellow;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
}

// BALANCE

.avatar-2 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  // margin-left: 15px;
  // margin-top: 20px;
}

.balance-content {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.balance-text {
  // margin-top: 40px;
  width: 40%;
}

.balance-text-2 {
  // float: right;
  // margin-top: 30px;
  // padding-left: 20px;
  width: 25%;
}

.balance-text-3 {
  width: 20%;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-line {
  border: 2px solid #3da7a7;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  width: fit-content;
}

.btn-balance {
  // margin-top: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.line-balance {
  border: 1px solid #3da7a7;
  float: right;
  margin-top: -30px;
  width: 22%;
  transform: rotate(90deg);
}


// TRANSACTIONS 

.main-account {
  background-color: #e5e9f4;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.text-blue {
  color: #0247cb;
}

.bb {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.transaction-list {
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.transaction-list table {
  margin-top: 20px;
  table-layout: fixed;
  border-spacing: 12px;
  width: 100%;
}

.transaction-list table th {
  width: 20%;
  text-align: left;
}

.transaction-list table td {
  color: #aaa;
}

.main-account .icon {
  float: right;
  bottom: 10px;
  position: relative;
}

// SIDEBAR

.logout {
  text-align: center;
}

.logout img {
  width: 50px;
  position: relative;
  bottom: -100px;
  cursor: pointer;
}

.menu {
  padding-top: 40px;
  padding-left: 40px;
  color: #87a3a3;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  margin-top: 15px;
}

.menu h4 {
  padding-bottom: 10px;
  padding-top: 30px;
  color: #3da7a7;
}

.coin-logo {
  width: 100px;
  text-align: center;
}

.loading-center {
  
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.loading img {
  width: 20%;
  float: left;
}

.loading b {
  // float: right;
  
}